.container {
  position: absolute; /* же absolute */
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
}

.glow {
  position: absolute;
  border-radius: 50%;
  filter: blur(120px);
  opacity: 1;
  animation: float 12s ease-in-out infinite alternate;
  z-index: 1;
}

.topRight {
  top: 450px;
  right: -80px;
  width: 200px;
  height: 200px;
  background: #542b6a89;
  background: radial-gradient(
    circle,
    rgba(166, 49, 244, 0.347) 15%,
    rgba(182, 101, 249, 0.477) 100%
  );
}
.topLeft {
  top: 250px;
  left: 180px;
  width: 200px;
  height: 200px;
  background: #542b6a89;
  background: radial-gradient(
    circle,
    rgba(166, 49, 244, 0.347) 15%,
    rgba(182, 101, 249, 0.477) 100%
  );
}

.bottomLeft {
  bottom: 350px;
  left: 300px;
  width: 200px;
  height: 200px;
  background: #542b6a89;
  background: radial-gradient(
    circle,
    rgba(166, 49, 244, 0.347) 15%,
    rgba(182, 101, 249, 0.477) 100%
  );
}
.bottomRight {
  bottom: 100px;
  right:300px;
  width: 200px;
  height: 200px;
  background: #542b6a89;
  background: radial-gradient(
    circle,
    rgba(166, 49, 244, 0.347) 15%,
    rgba(182, 101, 249, 0.477) 100%
  );
}

