* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
html,
body {
  font-family: var(--font-jetbrains-mono, var(--font-inconsolata)), monospace;
  background: #07000e;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.container {
  width: 98%;
  margin: 0 auto;
}
input {
  outline: none;
  border: none;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}


