.footer {
  padding: 2rem 1rem;
  text-align: center;
  color: #ccc;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 30px;

  a {
    color: #ccc;
    font-size: 1.5rem;
    transition: color 0.3s ease;

    &:hover {
      color: rgb(104, 33, 235);
    }
  }
}

.copyright {
  font-size: 11px;
  font-weight: 200;
  opacity: 0.6;
  svg{
    &:hover{
      color: red;
      transform: scale(1.1);
    }
  }
}