.welcome {
  width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    h3 {
      font-size: 15px;
      color: #6721eb;
      font-weight: 300;
    }

    .title {
      h1 {
        font-size: 80px;
        background: linear-gradient(
          180deg,
          rgba(247, 247, 247, 1) 62%,
          rgba(103, 33, 235, 0.69) 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      /* text animation */
      .text {
        position: relative;
        height: 80px;
        overflow: hidden;

        h2 {
          position: absolute;
          width: 100%;
          font-size: 60px;
          color: transparent;
          opacity: 0;
          animation: slideText 6s ease-in-out infinite;
          background: #d9d9d9;
        }

        h2:nth-child(1) {
          animation-delay: 0s;
          background: linear-gradient(
            180deg,
            rgba(217, 217, 217, 1) 62%,
            rgba(103, 33, 235, 0.69) 100%
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        h2:nth-child(2) {
          animation-delay: 2s;
          background: linear-gradient(
            180deg,
            rgba(217, 217, 217, 1) 62%,
            rgba(103, 33, 235, 0.69) 100%
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        h2:nth-child(3) {
          animation-delay: 4s;
          background: linear-gradient(
            180deg,
            rgba(217, 217, 217, 1) 62%,
            rgba(103, 33, 235, 0.69) 100%
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    p {
      width: 600px;
      color: white;
      font-weight: 200;
      font-size: 14px;
      line-height: 26px;
      letter-spacing: 0.3px;
    }
  }
}

@keyframes slideText {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  3% {
    opacity: 1;
    transform: translateY(-10%);
  }
  6% {
    opacity: 1;
    transform: translateY(10%);
  }
  9% {
    opacity: 1;
    transform: translateY(-3%);
  }
  14% {
    opacity: 1;
    transform: translateY(0);
  }
  
  30% {
    opacity: 1;
    transform: translateY(0);
  }
  
  33% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 0;
    transform: translateY(-50%);
  }
}
